<div class="breakpoint active" id="bp_infinity" data-min-width="521">
  <!-- responsive breakpoint node -->
  <div class="clearfix borderbox" id="page" style="background-color: red">
    <!-- group -->
    <div class="clearfix grpelem" id="pu94">
      <!-- group -->
      <div
        class="browser_width shared_content"
        id="u94-bw"
        data-content-guid="u94-bw_content"
      >
        <div id="u94"><!-- simple frame --></div>
      </div>
      <div
        class="browser_width shared_content"
        id="u97-bw"
        data-content-guid="u97-bw_content"
      >
        <div id="u97"><!-- simple frame --></div>
      </div>
      <div id="u234-wrapper">
        <a class="nonblock nontext clip_frame" id="u234" router-link=""
          ><!-- svg --><img
            class="svg temp_no_img_src"
            id="u232"
            data-orig-src="assets/images/svg-pegado-180477x52.svg"
            alt=""
            data-mu-svgfallback="assets/images/svg%20pegado%20180477x52_poster_.png"
            data-heightwidthratio="0.28888888888888886"
            data-image-width="180"
            data-image-height="52"
            src="assets/images/blank.gif"
        /></a>
      </div>
    </div>
    <div
      class="clearfix grpelem shared_content"
      id="u1049-4"
      data-content-guid="u1049-4_content"
    >
      <!-- content -->
        <p >LOGIN</p>
    </div>
    <div class="clearfix grpelem" id="ppu1041">
      <!-- column -->
      <div class="clearfix colelem" id="pu1041">
        <!-- group -->
        <div class="clip_frame grpelem" id="u1041">
          <!-- image -->
          <img
            class="block temp_no_img_src"
            id="u1041_img"
            data-orig-src="assets/images/login-contenedor-formulario%20aceptar-crop-u1041.png"
            alt=""
            data-heightwidthratio="0.19047619047619047"
            data-image-width="315"
            data-image-height="60"
            src="assets/images/blank.gif?crc=4208392903"
          />
        </div>
        <div
          class="clearfix grpelem shared_content"
          id="u1048-4"
          data-content-guid="u1048-4_content"
        >
          <!-- content -->
          <p id="u1048-2">&amp;</p>
        </div>
        <div class="clip_frame grpelem" id="u1044">
          <!-- image -->
          <img
            class="block temp_no_img_src"
            id="u1044_img"
            data-orig-src="assets/images/login-contenedor-formulario-crop-u1044.png"
            alt=""
            data-heightwidthratio="0.19047619047619047"
            data-image-width="315"
            data-image-height="60"
            src="assets/images/blank.gif?crc=4208392903"
          />
        </div>
        <div class="clip_frame grpelem" id="u1046">
          <!-- image -->
          <img
            class="block temp_no_img_src"
            id="u1046_img"
            data-orig-src="assets/images/login-contenedor-formulario-crop-u1046.png"
            alt=""
            data-heightwidthratio="0.19047619047619047"
            data-image-width="315"
            data-image-height="60"
            src="assets/images/blank.gif?crc=4208392903"
          />
        </div>
        <form
          [formGroup]="loginForm"
          class="form-grp clearfix grpelem"
          id="widgetu1050"
          method="post"
          enctype="multipart/form-data"
          action="scripts/form-u1050.php"
          data-sizePolicy="fluidWidth"
          data-pintopage="page_fluidx"
        >
          <!-- none box -->
          <div
            class="fld-grp clearfix grpelem"
            id="widgetu1058"
            data-required="true"
            data-sizePolicy="fluidWidth"
            data-pintopage="page_fluidx"
          >
            <!-- none box -->
            <span
              class="fld-input NoWrap actAsDiv clearfix grpelem"
              id="u1061-4"
              ><!-- content -->
              <div id="u1061-3">
                <input
                  formControlName = "email"
                  class="wrapped-input shared_content"
                  type="email"
                  spellcheck="false"
                  id="widgetu1058_input"
                  name="custom_U1058"
                  tabindex="2"
                  data-content-guid="widgetu1058_input_content"
                  placeholder="Enter email"
                /><label
                  class="wrapped-input fld-prompt"
                  id="widgetu1058_prompt"
                  for="widgetu1058_input"
                  ><span
                    class="actAsPara shared_content"
                    id="u1061-2"
                    data-content-guid="u1061-2_content"
                    ></span
                  ></label
                >
              </div></span
            >
          </div>
          <div class="clearfix grpelem" id="pwidgetu1052">
            <!-- column -->
            <div
              class="fld-grp clearfix colelem"
              id="widgetu1052"
              data-required="true"
              data-type="email"
              data-sizePolicy="fluidWidth"
              data-pintopage="page_fluidx"
            >
              <!-- none box -->
              <span
                class="fld-input NoWrap actAsDiv clearfix grpelem"
                id="u1053-4"
                ><!-- content -->
                <div id="u1053-3">
                  <input
                    formControlName="password"

                    class="wrapped-input shared_content"
                    type="password"
                    spellcheck="false"
                    id="widgetu1052_input"
                    name="Email"
                    tabindex="1"
                    data-content-guid="widgetu1052_input_content"
                    placeholder="Enter password"
                  /><label
                    class="wrapped-input fld-prompt"
                    id="widgetu1052_prompt"
                    for="widgetu1052_input"
                    ><span
                      class="actAsPara shared_content"
                      id="u1053-2"
                      data-content-guid="u1053-2_content"
                      ></span
                    ></label
                  >
                </div></span
              >
            </div>
            <button
              (click)="onLogin()"
              style="color: white;"
              class="submit-btn NoWrap rounded-corners clearfix colelem"
              id="u1057-4"
              type="submit"
              value="LOGIN"
              tabindex="3"
            >
              <!-- content -->
              <div
                style="margin-top: -12px; height: 12px"
                class="shared_content"
                data-content-guid="u1057-4_0_content"
              >
                <p>LOGIN</p>
              </div>
            </button>
            <div class="clearfix colelem" id="pu1062-4">
              <!-- group -->
              <div class="clearfix grpelem" id="u1062-4">
                <!-- content -->
                <p class="shared_content" data-content-guid="u1062-4_0_content">
                  Enviando datos ...
                </p>
              </div>
              <div class="clearfix grpelem" id="u1051-4">
                <!-- content -->
                <p class="shared_content" data-content-guid="u1051-4_0_content">
                  El servidor ha detectado un error.
                </p>
              </div>
              <div class="clearfix grpelem" id="u1056-4">
                <!-- content -->
                <p class="shared_content" data-content-guid="u1056-4_0_content">
                  Datos enviados
                </p>
              </div>
            </div>
          </div>
        </form>
        <a
          class="nonblock nontext grpelem shared_content"
          id="u2717"
          href="taser--lolicos.html"
          data-content-guid="u2717_content"
          ><!-- simple frame --></a
        >
      </div>
      <a
        class="nonblock nontext clearfix colelem shared_content"
        id="u1116-4"
        routerLink="auth/register"
        data-content-guid="u1116-4_content"
        ><!-- content -->
        <p>Or&nbsp; Register HERE</p></a
      >
    </div>
    <div id="menuu268-wrapper">
      <nav class="MenuBar clearfix" id="menuu268">
        <!-- horizontal box -->
        <div class="MenuItemContainer clearfix grpelem" id="u276">
          <!-- vertical box -->
          <a
            class="
              nonblock
              nontext
              MenuItem
              MenuItemWithSubMenu
              borderbox
              clearfix
              colelem
            "
            id="u279"
            routerLink="auth/register"
            ><!-- horizontal box -->
            <div class="MenuItemLabel NoWrap clearfix grpelem" id="u280-4">
              <!-- content -->
              <p class="shared_content" data-content-guid="u280-4_0_content">
                REGISTER
              </p>
            </div></a
          >
        </div>
        <div class="MenuItemContainer clearfix grpelem" id="u290">
          <!-- vertical box -->
          <a
            class="
              nonblock
              nontext
              MenuItem
              MenuItemWithSubMenu
              MuseMenuActive
              borderbox
              clearfix
              colelem
            "
            id="u291"
            routerLink="auth/login"
            ><!-- horizontal box -->
            <div class="MenuItemLabel NoWrap clearfix grpelem" id="u293-4">
              <!-- content -->
              <p class="shared_content" data-content-guid="u293-4_0_content">
                LOGIN
              </p>
            </div></a
          >
        </div>
      </nav>
    </div>
  </div>
</div>
