<div class="verticalspacer shared_content" data-offset-top="0" data-content-above-spacer="165" data-content-below-spacer="220" data-sizePolicy="fixed" data-pintopage="page_fixedLeft" data-content-guid="page_1_content"></div>
<div class="browser_width grpelem" id="u551-bw">
  <div id="u551">
    <!-- group -->
    <div class="clearfix" id="u551_align_to_page">
      <div
        class="clearfix grpelem shared_content"
        id="u574-11"
        data-content-guid="u574-11_content"
      >
        <!-- content -->
        <p id="u574-2">How it Works</p>
        <p id="u574-4">Contact</p>
        <p id="u574-6">Terms &amp; Conditions</p>
        <p id="u574-8">Privacy Policy</p>
        <p id="u574-9">&nbsp;</p>
      </div>
      <div class="clip_frame grpelem" id="u567">
        <!-- svg -->
        <img
          class="svg svg_mar temp_no_img_src"
          id="u563"
          data-orig-src="assets/images/footer-marca.svg"
          onload="this.style.height=(this.offsetWidth*81.41025641025641/250)+'px'"
          alt=""
          data-mu-svgfallback="assets/images/footer-marca_poster_.png"
          data-heightwidthratio="0.324"
          data-image-width="250"
          data-image-height="81"
          src="assets/images/blank.gif"
        />
      </div>
    </div>
  </div>
</div>
