<div class="clearfix grpelem" id="pu94">
  <!-- group -->
  <div
    class="browser_width shared_content"
    id="u94-bw"
    data-content-guid="u94-bw_content"
  >
    <div id="u94"><!-- simple frame --></div>
  </div>
  <div
    class="browser_width shared_content"
    id="u97-bw"
    data-content-guid="u97-bw_content"
  >
    <div id="u97"><!-- simple frame --></div>
  </div>
  <div id="menuu268-wrapper">
    <nav class="MenuBar clearfix" id="menuu268">
      <!-- horizontal box -->
      <div class="MenuItemContainer clearfix grpelem" id="u276">
        <!-- vertical box -->
        <a
          class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem"
          id="u279"
          routerLink="auth/register"
          ><!-- horizontal box -->
          <div class="MenuItemLabel NoWrap clearfix grpelem" id="u280-4">
            <!-- content -->
            <p class="shared_content" data-content-guid="u280-4_0_content">
              REGISTER
            </p>
          </div></a
        >
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u290">
        <!-- vertical box -->
        <a
          class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem"
          id="u291"
          routerLink="auth/login"
          ><!-- horizontal box -->
          <div class="MenuItemLabel NoWrap clearfix grpelem" id="u293-4">
            <!-- content -->
            <p class="shared_content" data-content-guid="u293-4_0_content">
              LOGIN
            </p>
          </div></a
        >
      </div>
    </nav>
  </div>
  <div id="menuu102-wrapper">
    <nav class="MenuBar clearfix" id="menuu102">
      <!-- horizontal box -->
      <div class="MenuItemContainer clearfix grpelem" id="u103">
        <!-- vertical box -->
        <div
          class="MenuItem MenuItemWithSubMenu borderbox clearfix colelem"
          id="u106"
        >
          <!-- horizontal box -->
          <div class="MenuItemLabel NoWrap clearfix grpelem" routerLink="products/" id="u109-4">
            <!-- content -->
            <p>BUY</p>
          </div>
        </div>
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u211">
        <!-- vertical box -->
        <div
          class="MenuItem MenuItemWithSubMenu borderbox clearfix colelem"
          id="u214"
        >
          <!-- horizontal box -->
          <div class="MenuItemLabel NoWrap clearfix grpelem" routerLink="teasers/" id="u217-4">
            <!-- content -->
            <p>TEASER</p>
          </div>
        </div>
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u190">
        <!-- vertical box -->
        <div
          class="MenuItem MenuItemWithSubMenu borderbox clearfix colelem"
          id="u193"
        >
          <!-- horizontal box -->
          <div class="MenuItemLabel NoWrap clearfix grpelem" id="u196-4">
            <!-- content -->
            <p>FAVORITE</p>
          </div>
        </div>
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u169">
        <!-- vertical box -->
        <div
          class="MenuItem MenuItemWithSubMenu borderbox clearfix colelem"
          id="u172"
        >
          <!-- horizontal box -->
          <div class="MenuItemLabel NoWrap clearfix grpelem" id="u175-4">
            <!-- content -->
            <p>TOP10</p>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div id="u234-wrapper">
    <a class="nonblock nontext clip_frame" id="u234" routerLink=""
      ><!-- svg --><img
        class="svg temp_no_img_src"
        id="u232"
        data-orig-src="assets/images/svg-pegado-180477x52.svg"
        alt=""
        data-mu-svgfallback="assets/images/svg%20pegado%20180477x52_poster_.png"
        data-heightwidthratio="0.28888888888888886"
        data-image-width="180"
        data-image-height="52"
        src="assets/images/svg-pegado-180477x52.svg"
    /></a>
  </div>
</div>
