<div class="breakpoint active" id="bp_infinity" data-min-width="521">
  <!-- responsive breakpoint node -->
  <div class="clearfix borderbox" id="page">
    <!-- group -->
    <div class="shadow clearfix grpelem" id="u2218">
      <!-- column -->
      <div
        class="clearfix colelem shared_content"
        id="pu1942"
        data-content-guid="pu1942_content"
      >
        <!-- group -->
        <div
          class="grpelem shared_content"
          id="u1942"
          data-content-guid="u1942_content"
        >
          <!-- simple frame -->
        </div>
        <div
          class="clearfix grpelem shared_content"
          id="u1940-7"
          data-content-guid="u1940-7_content"
        >
          <!-- content -->
          <p id="u1940-2">MEMBER REGISTRATION COMPLETE</p>
          <p id="u1940-4">THE FORM BELOW TO SIGN UP FOR OUR SERVICE.</p>
          <p id="u1940-5">&nbsp;</p>
        </div>
      </div>
      <div class="clearfix colelem" id="pu2211">
        <!-- group -->
        <div class="clip_frame grpelem" id="u2211">
          <!-- svg -->
          <img
            class="svg temp_no_img_src"
            id="u2209"
            data-orig-src="assets/images/svg-pegado-938149x963.svg"
            alt=""
            data-mu-svgfallback="assets/images/svg-pegado-938149x963_poster_.png"
            data-heightwidthratio="1.0266524520255864"
            data-image-width="938"
            data-image-height="963"
            src="assets/images/blank.gif?crc=4208392903"
          />
        </div>
        <div class="clip_frame grpelem" id="u2202">
          <!-- svg -->
          <img
            class="svg temp_no_img_src"
            id="u2200"
            data-orig-src="assets/images/svg-pegado-381x86.svg"
            alt=""
            data-mu-svgfallback="assets/images/svg-pegado-381x86_poster_.png"
            data-heightwidthratio="0.22572178477690288"
            data-image-width="381"
            data-image-height="86"
            src="assets/images/blank.gif?crc=4208392903"
          />
        </div>
        <form
          class="form-grp clearfix grpelem"
          id="widgetu1943"
          method="post"
          enctype="multipart/form-data"
          action="scripts/form-u1943.php"
          data-sizePolicy="fluidWidth"
          data-pintopage="page_fluidx"
          [formGroup]="registerForm"
        >
          <!-- none box -->
          <div class="position_content" id="widgetu1943_position_content">
            <div
              class="fld-grp clearfix colelem"
              id="widgetu1982"
              data-required="true"
              data-sizePolicy="fluidWidth"
              data-pintopage="page_fluidx"
            >
              <!-- none box -->
              <div class="clearfix colelem" id="pu1984-4">
                <!-- group -->
                <label
                  class="fld-label actAsDiv clearfix grpelem"
                  id="u1984-4"
                  for="widgetu1982_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1984-2"
                    data-content-guid="u1984-2_content"
                    >NAME</span
                  ></label
                >
                <div class="fld-message clearfix grpelem" id="u1983-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1983-4_0_content"
                  >
                    Required data
                  </p>
                </div>
              </div>
              <span
                class="
                  fld-input
                  NoWrap
                  actAsDiv
                  rounded-corners
                  clearfix
                  colelem
                "
                id="u1985-4"
                ><!-- content -->
                <div id="u1985-3">
                  <input
                    formControlName="name"
                    class="wrapped-input shared_content"
                    type="text"
                    spellcheck="false"
                    id="widgetu1982_input"
                    name="custom_U1982"
                    tabindex="1"
                    data-content-guid="widgetu1982_input_content"
                  /><label
                    class="wrapped-input fld-prompt"
                    id="widgetu1982_prompt"
                    for="widgetu1982_input"
                    ><span
                      class="actAsPara shared_content"
                      id="u1985-2"
                      data-content-guid="u1985-2_content"
                      ></span
                    ></label
                  >
                </div></span
              >
            </div>
            <div
              class="fld-grp clearfix colelem"
              id="widgetu1944"
              data-required="true"
              data-sizePolicy="fluidWidth"
              data-pintopage="page_fluidx"
            >
              <!-- none box -->
              <div class="clearfix colelem" id="pu1946-4">
                <!-- group -->
                <label
                  class="fld-label actAsDiv clearfix grpelem"
                  id="u1946-4"
                  for="widgetu1944_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1946-2"
                    data-content-guid="u1946-2_content"
                    >PHONE NUMBER</span
                  ></label
                >
                <div class="fld-message clearfix grpelem" id="u1947-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1947-4_0_content"
                  >
                    Required data
                  </p>
                </div>
              </div>
              <span
                class="
                  fld-input
                  NoWrap
                  actAsDiv
                  rounded-corners
                  clearfix
                  colelem
                "
                id="u1945-4"
                ><!-- content -->
                <div id="u1945-3">
                  <input
                    formControlName="phoneNumber"
                    class="wrapped-input shared_content"
                    type="tel"
                    spellcheck="false"
                    id="widgetu1944_input"
                    name="custom_U1944"
                    tabindex="2"
                    data-content-guid="widgetu1944_input_content"
                  /><label
                    class="wrapped-input fld-prompt"
                    id="widgetu1944_prompt"
                    for="widgetu1944_input"
                    ><span
                      class="actAsPara shared_content"
                      id="u1945-2"
                      data-content-guid="u1945-2_content"
                      ></span
                    ></label
                  >
                </div></span
              >
            </div>
            <div
              class="fld-grp clearfix colelem"
              id="widgetu1948"
              data-required="true"
              data-sizePolicy="fluidWidth"
              data-pintopage="page_fluidx"
            >
              <!-- none box -->
              <div class="clearfix colelem" id="pu1950-4">
                <!-- group -->
                <label
                  class="fld-label actAsDiv clearfix grpelem"
                  id="u1950-4"
                  for="widgetu1948_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1950-2"
                    data-content-guid="u1950-2_content"
                    >ADDRESS</span
                  ></label
                >
                <div class="fld-message clearfix grpelem" id="u1951-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1951-4_0_content"
                  >
                    Required data
                  </p>
                </div>
              </div>
              <span
                class="
                  fld-input
                  NoWrap
                  actAsDiv
                  rounded-corners
                  clearfix
                  colelem
                "
                id="u1949-4"
                ><!-- content -->
                <div id="u1949-3">
                  <input
                    formControlName="address"
                    class="wrapped-input shared_content"
                    type="text"
                    spellcheck="false"
                    id="widgetu1948_input"
                    name="custom_U1948"
                    tabindex="3"
                    data-content-guid="widgetu1948_input_content"
                  /><label
                    class="wrapped-input fld-prompt"
                    id="widgetu1948_prompt"
                    for="widgetu1948_input"
                    ><span
                      class="actAsPara shared_content"
                      id="u1949-2"
                      data-content-guid="u1949-2_content"
                      ></span
                    ></label
                  >
                </div></span
              >
            </div>
            <div
              class="fld-grp clearfix colelem"
              id="widgetu1992"
              data-required="true"
              data-sizePolicy="fluidWidth"
              data-pintopage="page_fluidx"
            >
              <!-- none box -->
              <span
                class="
                  fld-input
                  NoWrap
                  actAsDiv
                  rounded-corners
                  clearfix
                  colelem
                "
                id="u1994-4"
                ><!-- content -->
                <div id="u1994-3">
                  <input
                    class="wrapped-input shared_content"
                    type="text"
                    id="widgetu1992_input"
                    name="custom_U1992"
                    tabindex="4"
                    data-content-guid="widgetu1992_input_content"
                  /><label
                    class="wrapped-input fld-prompt"
                    id="widgetu1992_prompt"
                    for="widgetu1992_input"
                    ><span
                      class="actAsPara shared_content"
                      id="u1994-2"
                      data-content-guid="u1994-2_content"
                      >Introducir texto</span
                    ></label
                  >
                </div></span
              >
              <div class="clearfix colelem" id="pu1993-4">
                <!-- group -->
                <label
                  class="fld-label actAsDiv clearfix grpelem"
                  id="u1993-4"
                  for="widgetu1992_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1993-2"
                    data-content-guid="u1993-2_content"
                    >Street address Line 2</span
                  ></label
                >
                <div class="fld-message clearfix grpelem" id="u1995-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1995-4_0_content"
                  >
                    Required data
                  </p>
                </div>
              </div>
            </div>
            <div
              class="fld-grp clearfix colelem"
              id="widgetu1948"
              data-required="true"
              data-sizePolicy="fluidWidth"
              data-pintopage="page_fluidx"
            >
              <!-- none box -->
              <div class="clearfix colelem" id="pu1950-4">
                <!-- group -->
                <label
                  class="fld-label actAsDiv clearfix grpelem"
                  id="u1950-4"
                  for="widgetu1948_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1950-2"
                    data-content-guid="u1950-2_content"
                    >EMAIL</span
                  ></label
                >
                <div class="fld-message clearfix grpelem" id="u1951-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1951-4_0_content"
                  >
                    Required data
                  </p>
                </div>
              </div>
              <span
                class="
                  fld-input
                  NoWrap
                  actAsDiv
                  rounded-corners
                  clearfix
                  colelem
                "
                id="u1949-4"
                ><!-- content -->
                <div id="u1949-3">
                  <input
                    formControlName="email"
                    class="wrapped-input shared_content"
                    type="email"
                    spellcheck="false"
                    id="widgetu1948_input"
                    name="custom_U1948"
                    tabindex="3"
                    data-content-guid="widgetu1948_input_content"
                  /><label
                    class="wrapped-input fld-prompt"
                    id="widgetu1948_prompt"
                    for="widgetu1948_input"
                    ><span
                      class="actAsPara shared_content"
                      id="u1949-2"
                      data-content-guid="u1949-2_content"
                      ></span
                    ></label
                  >
                </div></span
              >
            </div>
            <div
              class="fld-grp clearfix colelem"
              id="widgetu1948"
              data-required="true"
              data-sizePolicy="fluidWidth"
              data-pintopage="page_fluidx"
            >
              <!-- none box -->
              <div class="clearfix colelem" id="pu1950-4">
                <!-- group -->
                <label
                  class="fld-label actAsDiv clearfix grpelem"
                  id="u1950-4"
                  for="widgetu1948_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1950-2"
                    data-content-guid="u1950-2_content"
                    >PASSWORD</span
                  ></label
                >
                <div class="fld-message clearfix grpelem" id="u1951-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1951-4_0_content"
                  >
                    Required data
                  </p>
                </div>
              </div>
              <span
                class="
                  fld-input
                  NoWrap
                  actAsDiv
                  rounded-corners
                  clearfix
                  colelem
                "
                id="u1949-4"
                ><!-- content -->
                <div id="u1949-3">
                  <input
                    formControlName="password"
                    class="wrapped-input shared_content"
                    type="password"
                    spellcheck="false"
                    id="widgetu1948_input"
                    name="custom_U1948"
                    tabindex="3"
                    data-content-guid="widgetu1948_input_content"
                  /><label
                    class="wrapped-input fld-prompt"
                    id="widgetu1948_prompt"
                    for="widgetu1948_input"
                    ><span
                      class="actAsPara shared_content"
                      id="u1949-2"
                      data-content-guid="u1949-2_content"
                      ></span
                    ></label
                  >
                </div></span
              >
            </div>
            <div class="clearfix colelem" id="pwidgetu1954">
              <!-- group -->
              <div
                class="fld-grp clearfix grpelem"
                id="widgetu1954"
                data-required="true"
                data-sizePolicy="fluidWidth"
                data-pintopage="page_fluidx"
              >
                <!-- none box -->
                <div class="clearfix colelem" id="pu1956-4">
                  <!-- group -->
                  <span
                    class="
                      fld-input
                      NoWrap
                      actAsDiv
                      rounded-corners
                      clearfix
                      grpelem
                    "
                    id="u1956-4"
                    ><!-- content -->
                    <div id="u1956-3">
                      <input
                        formControlName="city"
                        class="wrapped-input shared_content"
                        type="text"
                        spellcheck="false"
                        id="widgetu1954_input"
                        name="custom_U1954"
                        tabindex="5"
                        data-content-guid="widgetu1954_input_content"
                      /><label
                        class="wrapped-input fld-prompt"
                        id="widgetu1954_prompt"
                        for="widgetu1954_input"
                        ><span
                          class="actAsPara shared_content"
                          id="u1956-2"
                          data-content-guid="u1956-2_content"
                          ></span
                        ></label
                      >
                    </div></span
                  >
                  <div class="fld-message clearfix grpelem" id="u1957-4">
                    <!-- content -->
                    <p
                      class="shared_content"
                      data-content-guid="u1957-4_0_content"
                    >
                      Obligatorio
                    </p>
                  </div>
                </div>
                <label
                  class="fld-label actAsDiv clearfix colelem"
                  id="u1955-4"
                  for="widgetu1954_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1955-2"
                    data-content-guid="u1955-2_content"
                    >City</span
                  ></label
                >
              </div>
              <div
                class="fld-grp clearfix grpelem"
                id="widgetu1962"
                data-required="true"
                data-sizePolicy="fluidWidth"
                data-pintopage="page_fluidx"
              >
                <!-- none box -->
                <div class="clearfix colelem" id="pu1965-4">
                  <!-- group -->
                  <span
                    class="
                      fld-input
                      NoWrap
                      actAsDiv
                      rounded-corners
                      clearfix
                      grpelem
                    "
                    id="u1965-4"
                    ><!-- content -->
                    <div id="u1965-3">
                      <input
                        class="wrapped-input shared_content"
                        type="text"
                        spellcheck="false"
                        id="widgetu1962_input"
                        name="custom_U1962"
                        tabindex="6"
                        data-content-guid="widgetu1962_input_content"
                      /><label
                        class="wrapped-input fld-prompt"
                        id="widgetu1962_prompt"
                        for="widgetu1962_input"
                        ><span
                          class="actAsPara shared_content"
                          id="u1965-2"
                          data-content-guid="u1965-2_content"
                          ></span
                        ></label
                      >
                    </div></span
                  >
                  <div class="fld-message clearfix grpelem" id="u1964-4">
                    <!-- content -->
                    <p
                      class="shared_content"
                      data-content-guid="u1964-4_0_content"
                    >
                      Required data
                    </p>
                  </div>
                </div>
                <label
                  class="fld-label actAsDiv clearfix colelem"
                  id="u1963-4"
                  for="widgetu1962_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1963-2"
                    data-content-guid="u1963-2_content"
                    >State</span
                  ></label
                >
              </div>
            </div>
            <div class="clearfix colelem" id="pwidgetu1996">
              <!-- group -->
              <div
                class="fld-grp clearfix grpelem"
                id="widgetu1996"
                data-required="true"
                data-sizePolicy="fluidWidth"
                data-pintopage="page_fluidx"
              >
                <!-- none box -->
                <div class="clearfix colelem" id="pu1997-4">
                  <!-- group -->
                  <span
                    class="
                      fld-input
                      NoWrap
                      actAsDiv
                      rounded-corners
                      clearfix
                      grpelem
                    "
                    id="u1997-4"
                    ><!-- content -->
                    <div id="u1997-3">
                      <input
                        formControlName="postalCode"
                        class="wrapped-input shared_content"
                        type="text"
                        spellcheck="false"
                        id="widgetu1996_input"
                        name="custom_U1996"
                        tabindex="7"
                        data-content-guid="widgetu1996_input_content"
                      /><label
                        class="wrapped-input fld-prompt"
                        id="widgetu1996_prompt"
                        for="widgetu1996_input"
                        ><span
                          class="actAsPara shared_content"
                          id="u1997-2"
                          data-content-guid="u1997-2_content"
                          ></span
                        ></label
                      >
                    </div></span
                  >
                  <div class="fld-message clearfix grpelem" id="u1999-4">
                    <!-- content -->
                    <p
                      class="shared_content"
                      data-content-guid="u1999-4_0_content"
                    >
                      Required data
                    </p>
                  </div>
                </div>
                <label
                  class="fld-label actAsDiv clearfix colelem"
                  id="u1998-4"
                  for="widgetu1996_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1998-2"
                    data-content-guid="u1998-2_content"
                    >Zip Code</span
                  ></label
                >
              </div>
              <div
                class="fld-grp clearfix grpelem"
                id="widgetu1987"
                data-required="true"
                data-sizePolicy="fluidWidth"
                data-pintopage="page_fluidx"
              >
                <!-- none box -->
                <div class="clearfix colelem" id="pu1988-4">
                  <!-- group -->
                  <span
                    class="
                      fld-input
                      NoWrap
                      actAsDiv
                      rounded-corners
                      clearfix
                      grpelem
                    "
                    id="u1988-4"
                    ><!-- content -->
                    <div id="u1988-3">
                      <input
                        formControlName="country"
                        class="wrapped-input shared_content"
                        type="text"
                        spellcheck="false"
                        id="widgetu1987_input"
                        name="custom_U1987"
                        tabindex="8"
                        data-content-guid="widgetu1987_input_content"
                      /><label
                        class="wrapped-input fld-prompt"
                        id="widgetu1987_prompt"
                        for="widgetu1987_input"
                        ><span
                          class="actAsPara shared_content"
                          id="u1988-2"
                          data-content-guid="u1988-2_content"
                          ></span
                        ></label
                      >
                    </div></span
                  >
                  <div class="fld-message clearfix grpelem" id="u1990-4">
                    <!-- content -->
                    <p
                      class="shared_content"
                      data-content-guid="u1990-4_0_content"
                    >
                      Required data
                    </p>
                  </div>
                </div>
                <label
                  class="fld-label actAsDiv clearfix colelem"
                  id="u1989-4"
                  for="widgetu1987_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1989-2"
                    data-content-guid="u1989-2_content"
                    >Country</span
                  ></label
                >
              </div>
            </div>
            <div class="clearfix colelem" id="pwidgetu1966">
              <!-- group -->
              <div
                class="fld-grp clearfix grpelem"
                id="widgetu1966"
                data-required="true"
                data-type="radiogroup"
                data-sizePolicy="fluidWidth"
                data-pintopage="page_fluidx"
              >
                <!-- none box -->
                <div
                  class="fld-grp clearfix colelem"
                  id="widgetu1970"
                  data-required="false"
                  data-type="radio"
                  data-sizePolicy="fluidWidth"
                  data-pintopage="page_fluidx"
                >
                  <!-- none box -->
                  <label
                    class="fld-label actAsDiv clearfix colelem"
                    id="u1972-9"
                    for="widgetu1970_input"
                    data-sizePolicy="fluidWidth"
                    data-pintopage="page_fixedLeft"
                    ><!-- content --><span
                      class="actAsPara shared_content"
                      id="u1972-2"
                      data-content-guid="u1972-2_content"
                      >18 YEARS OR OLDER</span
                    ><span
                      class="actAsPara shared_content"
                      id="u1972-3"
                      data-content-guid="u1972-3_content"
                      >&nbsp;</span
                    ><span
                      class="actAsPara shared_content"
                      id="u1972-6"
                      data-content-guid="u1972-6_content"
                      >&nbsp;&nbsp;&nbsp;&nbsp; I consent that am of age (18
                      year or&nbsp;&nbsp;&nbsp;&nbsp; older<span id="u1972-5"
                        >) to use this plataform</span
                      ></span
                    ><span
                      class="actAsPara shared_content"
                      id="u1972-7"
                      data-content-guid="u1972-7_content"
                      >&nbsp;</span
                    ></label
                  >
                  <div class="fld-radiobutton museBGSize colelem" id="u1971">
                    <!-- simple frame -->
                    <input
                      class="wrapped-input shared_content"
                      type="radio"
                      value="18 YEARS OR OLDER

&nbsp;&nbsp;&nbsp;&nbsp; I consent that am of age (18 year or&nbsp;&nbsp;&nbsp;&nbsp; older) to use this plataform"
                      spellcheck="false"
                      id="widgetu1970_input"
                      name="custom_U1966"
                      tabindex="10"
                      data-content-guid="widgetu1970_input_content"
                    />
                    <label for="widgetu1970_input"></label>
                  </div>
                </div>
                <div class="fld-message clearfix colelem" id="u1977-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1977-4_0_content"
                  >
                    Required data
                  </p>
                </div>
                <label class="fld-label actAsDiv clearfix colelem" id="u1976-4"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1976-2"
                    data-content-guid="u1976-2_content"
                    >TEASER RULES</span
                  ></label
                >
                <div
                  class="fld-grp clearfix colelem"
                  id="widgetu1973"
                  data-required="false"
                  data-type="radio"
                  data-sizePolicy="fluidWidth"
                  data-pintopage="page_fluidx"
                >
                  <!-- none box -->
                  <div class="fld-radiobutton museBGSize grpelem" id="u1974">
                    <!-- simple frame -->
                    <input
                      class="wrapped-input shared_content"
                      type="radio"
                      value="I have read,understood, and accepted the rules of Teaser"
                      spellcheck="false"
                      id="widgetu1973_input"
                      name="custom_U1966"
                      tabindex="10"
                      data-content-guid="widgetu1973_input_content"
                    />
                    <label for="widgetu1973_input"></label>
                  </div>
                  <label
                    class="fld-label actAsDiv clearfix grpelem"
                    id="u1975-4"
                    for="widgetu1973_input"
                    data-sizePolicy="fluidWidth"
                    data-pintopage="page_fixedLeft"
                    ><!-- content --><span
                      class="actAsPara shared_content"
                      id="u1975-2"
                      data-content-guid="u1975-2_content"
                      ><span id="u1975"
                        >I have read,understood, and accepted the rules of
                        Teaser</span
                      ></span
                    ></label
                  >
                </div>
                <div
                  class="fld-grp clearfix colelem"
                  id="widgetu1967"
                  data-required="false"
                  data-type="radio"
                  data-sizePolicy="fluidWidth"
                  data-pintopage="page_fluidx"
                >
                  <!-- none box -->
                  <div class="fld-radiobutton museBGSize grpelem" id="u1969">
                    <!-- simple frame -->
                    <input
                      class="wrapped-input shared_content"
                      type="radio"
                      value="I have read, understood, and accepted the PRIVACY POLICY agreement"
                      spellcheck="false"
                      id="widgetu1967_input"
                      name="custom_U1966"
                      tabindex="10"
                      data-content-guid="widgetu1967_input_content"
                    />
                    <label for="widgetu1967_input"></label>
                  </div>
                  <label
                    class="fld-label actAsDiv clearfix grpelem"
                    id="u1968-4"
                    for="widgetu1967_input"
                    data-sizePolicy="fluidWidth"
                    data-pintopage="page_fixedLeft"
                    ><!-- content --><span
                      class="actAsPara shared_content"
                      id="u1968-2"
                      data-content-guid="u1968-2_content"
                      >I have read, understood, and accepted the PRIVACY POLICY
                      agreement</span
                    ></label
                  >
                </div>
              </div>
              <div
                class="fld-grp clearfix grpelem"
                id="widgetu1958"
                data-required="true"
                data-type="email"
                data-sizePolicy="fluidWidth"
                data-pintopage="page_fluidx"
              >
                <!-- none box -->
                <label
                  class="fld-label actAsDiv clearfix colelem"
                  id="u1959-4"
                  for="widgetu1958_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1959-2"
                    data-content-guid="u1959-2_content"
                    >INSTAGRAM USERNAME</span
                  ></label
                >
                <span
                  class="
                    fld-input
                    NoWrap
                    actAsDiv
                    rounded-corners
                    clearfix
                    colelem
                  "
                  id="u1960-4"
                  ><!-- content -->
                  <div id="u1960-3">
                    <input
                      class="wrapped-input shared_content"
                      type="email"
                      spellcheck="false"
                      id="widgetu1958_input"
                      name="Email"
                      tabindex="9"
                      data-content-guid="widgetu1958_input_content"
                    /><label
                      class="wrapped-input fld-prompt"
                      id="widgetu1958_prompt"
                      for="widgetu1958_input"
                      ><span
                        class="actAsPara shared_content"
                        id="u1960-2"
                        data-content-guid="u1960-2_content"
                        ></span
                      ></label
                    >
                  </div></span
                >
                <div class="fld-message clearfix colelem" id="u1961-4">
                  <!-- content -->
                  <p
                    class="shared_content"
                    data-content-guid="u1961-4_0_content"
                  >
                    Required data
                  </p>
                </div>
              </div>
              <div
                class="fld-grp clearfix grpelem"
                id="widgetu1978"
                data-required="true"
                data-sizePolicy="fluidWidth"
                data-pintopage="page_fluidx"
              >
                <!-- none box -->
                <label
                  class="fld-label actAsDiv clearfix colelem"
                  id="u1981-4"
                  for="widgetu1978_input"
                  ><!-- content --><span
                    class="actAsPara shared_content"
                    id="u1981-2"
                    data-content-guid="u1981-2_content"
                    >PAYPAL ACCOUNT EMAIL</span
                  ></label
                >
                <div class="clearfix colelem" id="pu1979-4">
                  <!-- group -->
                  <span
                    class="
                      fld-input
                      NoWrap
                      actAsDiv
                      rounded-corners
                      clearfix
                      grpelem
                    "
                    id="u1979-4"
                    ><!-- content -->
                    <div id="u1979-3">
                      <input
                        class="wrapped-input shared_content"
                        type="text"
                        spellcheck="false"
                        id="widgetu1978_input"
                        name="custom_U1978"
                        tabindex="11"
                        data-content-guid="widgetu1978_input_content"
                      /><label
                        class="wrapped-input fld-prompt"
                        id="widgetu1978_prompt"
                        for="widgetu1978_input"
                        ><span
                          class="actAsPara shared_content"
                          id="u1979-2"
                          data-content-guid="u1979-2_content"
                          ></span
                        ></label
                      >
                    </div></span
                  >
                  <div class="fld-message clearfix grpelem" id="u1980-4">
                    <!-- content -->
                    <p
                      class="shared_content"
                      data-content-guid="u1980-4_0_content"
                    >
                      Required data
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="submit-btn NoWrap clearfix colelem"
              (click)="onRegister()"
              id="u1991-4"
              type="submit"
              value="SUBMIT APPLICATION"
              tabindex="12"
            >
              <!-- content -->
              <div
                style="margin-top: -15px; height: 15px"
                class="shared_content"
                data-content-guid="u1991-4_0_content"
              >
                <p id="u1991-2">SUBMIT APPLICATION</p>
              </div>
            </button>
            <div class="clearfix colelem" id="pu1986-4">
              <!-- group -->
              <div class="clearfix grpelem" id="u1986-4">
                <!-- content -->
                <p class="shared_content" data-content-guid="u1986-4_0_content">
                  Enviando formulario...
                </p>
              </div>
              <div class="clearfix grpelem" id="u1952-4">
                <!-- content -->
                <p class="shared_content" data-content-guid="u1952-4_0_content">
                  El servidor ha detectado un error.
                </p>
              </div>
              <div class="clearfix grpelem" id="u1953-4">
                <!-- content -->
                <p class="shared_content" data-content-guid="u1953-4_0_content">
                  Formulario recibido.
                </p>
              </div>
            </div>
          </div>
        </form>

        <div
          class="clearfix grpelem shared_content"
          id="u2169-4"
          data-content-guid="u2169-4_content"
        >
          <!-- content -->
          <p id="u2169-2">First, middle and last name</p>
        </div>
        <div
          class="clearfix grpelem shared_content"
          id="u2172-4"
          data-content-guid="u2172-4_content"
        >
          <!-- content -->
          <p id="u2172-2">Area code + Phone Number</p>
        </div>
        <div
          class="clearfix grpelem shared_content"
          id="u2175-4"
          data-content-guid="u2175-4_content"
        >
          <!-- content -->
          <p id="u2175-2">Street address Line 1</p>
        </div>
        <div
          class="clearfix grpelem shared_content"
          id="u2179-10"
          data-content-guid="u2179-10_content"
        >
          <!-- content -->
          <p id="u2179-3">
            1. Membership is available
            <span id="u2179-2">to anyone 18 years of age or older.</span>
          </p>
          <p id="u2179-4">&nbsp;</p>
          <p id="u2179-8">
            2.
            <span id="u2179-6"
              >You promise NOT to use to conduct any fraudulent </span
            >or business activity or have more than one Member Account at any
            time.
          </p>
        </div>
        <div
          class="clearfix grpelem shared_content"
          id="u2182-9"
          data-content-guid="u2182-9_content"
        >
          <!-- content -->
          <p id="u2182-2"><span id="u2182">PRIVACY POLICY</span></p>
          <p id="u2182-3">&nbsp;</p>
          <p id="u2182-7">
            <span id="u2182-4">Please</span
            ><span id="u2182-5"> reach out and read our Privacy Policy </span
            ><span id="u2182-6"
              >in order to understand how your information is used and shared,
              and check below if you accept the policy.</span
            >
          </p>
        </div>
      </div>
      <div
        class="colelem shared_content"
        id="u2188"
        data-content-guid="u2188_content"
      >
        <!-- simple frame -->
      </div>
      <div
        class="clearfix colelem shared_content"
        id="u2185-10"
        data-content-guid="u2185-10_content"
      >
        <!-- content -->
        <p id="u2185-3">
          Once you submit your application,
          <span id="u2185-2">we will contact you shortly</span>
        </p>
        <p id="u2185-5">
          <span id="u2185-4">regarding your registration.</span>
        </p>
        <p id="u2185-6">&nbsp;</p>
        <p id="u2185-8">Thank you!</p>
      </div>
    </div>
  </div>
</div>
