<div class="clearfix grpelem" id="pu602"><!-- column -->
  <div class="browser_width colelem" id="u602-bw">
   <div class="museBGSize" id="u602"><!-- group -->
    <div class="clearfix" id="u602_align_to_page">
     <div class="clearfix grpelem" id="pu604-4"><!-- group -->
      <div class="clearfix grpelem shared_content" id="u604-4" data-content-guid="u604-4_content"><!-- content -->
       <p id="u604-2">BECOME A</p>
      </div>
      <div class="clearfix grpelem shared_content" id="u605-7" data-content-guid="u605-7_content"><!-- content -->
       <p id="u605-3">Buy an sell <span id="u605-2">very</span></p>
       <p id="u605-5">personal items.</p>
      </div>
      <div class="clearfix grpelem shared_content" id="u606-4" data-content-guid="u606-4_content"><!-- content -->
       <p id="u606-2">TEASER</p>
      </div>
     </div>
     <nav class="MenuBar clearfix grpelem" id="menuu3741"><!-- horizontal box -->
      <div class="MenuItemContainer clearfix grpelem" id="u3742"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox shadow rounded-corners clearfix colelem" id="u3743" routerLink="auth/register"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3746-4"><!-- content --><p>REGISTER</p></div></a>
      </div>
     </nav>
    </div>
   </div>
  </div>
  <div class="clearfix colelem" id="ppu618-8" style="margin-top: 82px;"><!-- group -->
   <div class="clearfix grpelem shared_content" id="pu618-8" data-content-guid="pu618-8_content"><!-- group -->
    <div class="clearfix grpelem" id="u618-8"><!-- content -->
     <p id="u618-3"><span id="u618" class="shared_content" data-content-guid="u618_content">UNIQUE</span></p>
     <p id="u618-5" class="shared_content" data-content-guid="u618-5_content">EXPERIENCES</p>
     <p id="u618-6" class="shared_content" data-content-guid="u618-6_content">&nbsp;</p>
    </div>
    <div class="clearfix grpelem shared_content" id="u619-7" data-content-guid="u619-7_content"><!-- content -->
     <p id="u619-4">Teaser offers a platform for conveniently purchasing items that personally belong to your online crush. <span id="u619-2">We deliver this experience right to your door. Every object sold on Teaser is unique, and will never be replicated again.</span> Behind every item there is a story at the reach of a click”.</p>
     <p id="u619-5">&nbsp;</p>
    </div>
   </div>
   <div class="grpelem shared_content" id="u1119" data-content-guid="u1119_content"><!-- simple frame --></div>
   <div class="grpelem shared_content" id="u1122" data-content-guid="u1122_content"><!-- simple frame --></div>
   <nav class="MenuBar clearfix grpelem" id="menuu3765"><!-- horizontal box -->
    <div class="MenuItemContainer clearfix grpelem" id="u3766"><!-- vertical box -->
     <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox shadow rounded-corners clearfix colelem" id="u3767" routerLink="auth/register"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3770-4"><!-- content --><p id="u3770-2" class="shared_content" data-content-guid="u3770-2_content"><span id="u3770">REGISTER</span></p></div></a>
    </div>
   </nav>
  </div>
 </div>
